.link-unstyled, .link-unstyled:visited, .link-unstyled:hover, .link-unstyled:active, .link-unstyled:focus, .link-unstyled:active:hover {
    font-style: inherit;
    color: inherit;
    background-color: transparent;
    font-size: inherit;
    text-decoration: none;
    font-variant: inherit;
    font-weight: inherit;
    line-height: inherit;
    font-family: inherit;
    border-radius: inherit;
    border: inherit;
    outline: inherit;
    box-shadow: inherit;
    padding: inherit;
    vertical-align: inherit;
  }

  .resume-wrapper {
    padding-top: 30px;
    padding-bottom: 60px;
  }
  
  .resume-wrapper-inner {
    max-width: 1000px;
  }
  
  .resume-header .picture {
    width: 219px;
  }
  
  .resume-header .name {
    font-size: 2.25rem;
    letter-spacing: 0.175rem;
    font-weight: 900;
  }
  
  .resume-header .title {
    font-size: 1.5rem;
  }
  
  .resume-header a {
    color: rgba(255, 255, 255, 0.6);
  }
  
  .resume-header a:hover {
    color: white;
  }
  
  .resume-social {
    font-size: 0.875rem;
  }
  
  .resume-social .fa-container {
    font-size: 1rem;
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 0.125rem;
    background: white;
    color: #434E5E;
  }
  
  .resume-section-title {
    font-size: 1.25rem;
    position: relative;
    color: #434E5E;
  }
  
  .resume-section-title:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1.5px;
    background: #8d9aad;
  }
  
  .resume-section-content {
    color: #58677c;
  }
  
  .resume-timeline {
    padding-left: 2rem;
  }
  
  .resume-timeline:before {
    content: "";
    display: inline-block;
    width: 3px;
    height: 100%;
    background: #aab4c3;
    left: 6px;
    top: 4px;
    position: absolute;
  }
  
  .resume-timeline-item:before {
    content: "";
    display: inline-block;
    position: absolute;
    left: -32px;
    top: 3px;
    width: 15px;
    height: 15px;
    border: 4px solid #58677c;
    background: white;
    border-radius: 50%;
  }
  
  .resume-company-name {
    color: #58677c;
    font-size: 0.875rem;
    font-weight: 500;
  }
  
  .resume-position-time {
    font-size: 0.875rem;
    color: #aab4c3;
  }
  
  .resume-position-title {
    font-size: 1.125rem;
    color: #434E5E;
  }
  
  .resume-timeline-item-desc-heading {
    font-size: 1rem;
  }
  
  .resume-skills-cat {
    font-size: 1rem;
    color: #434E5E;
  }
  
  .resume-skill-name {
    font-size: 0.8125rem;
    color: #434E5E;
  }
  
  .resume-degree {
    color: #434E5E;
  }
  
  .resume-degree-org {
    font-size: 0.875rem;
  }
  
  .resume-degree-time {
    color: #aab4c3;
    font-size: 0.875rem;
  }
  
  .resume-award-icon {
    left: 0;
    top: 4px;
    color: #aab4c3;
  }
  
  .resume-award-name {
    font-weight: bold;
    color: #434E5E;
  }
  
  .resume-award-desc {
    font-size: 0.875rem;
  }
  
  .resume-lang-name {
    color: #434E5E;
  }
  
  .footer .fa-heart {
    color: #fb866a;
  }
  
  @media (max-width: 769px) {
    .resume-wrapper {
      padding-top: 0;
    }
    .resume-header {
      height: auto;
    }
    .resume-header .picture {
      width: 120px;
      border-radius: 4px;
    }
    .media-body {
      width: 100%
    }
  }