*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  p:not(:last-child) {
    margin: 0 0 20px;
  }
  input {
    display: none;
  }
  label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 15px 25px;
    font-weight: 600;
    text-align: center;
    color: #aab4c3;
    border-bottom: 1px solid #aab4c3;
  }
  label:hover {
    color: #789;
    cursor: pointer;
  }
  input:checked + label {
    color: #434E5E;
    border: 1px solid #aab4c3;
    border-top: 2px solid #434E5E;
    border-bottom: 0px;
  }
  